In [2]:
import pandas as pd

In [16]:
datapath = '/Users/liyan/Dropbox (Personal)/Updated Data 6-13 graders plus High Priority/cleaned_data/'
address_history = pd.read_table(datapath + 'address_history.txt')
demographic_attendance = pd.read_table(datapath + 'demographic_attendance.txt')
yearly_gpa = pd.read_table(datapath + 'gpa_yearly.txt')

In [17]:
print address_history.shape
print demographic_attendance.shape
print yearly_gpa.shape

(112388, 7)
(111276, 30)
(101477, 18)

In [4]:
len(set(address_history['External_Student_ID']))

35385

In [5]:
len(set(demographic_attendance['External_Student_ID']))

34162

In [6]:
len(set(yearly_gpa['External_Student_ID']))

32412

In [8]:
all_student_ids = list(set(address_history['External_Student_ID']).union(
                            set(demographic_attendance['External_Student_ID']).union(
                            set(yearly_gpa['External_Student_ID']))))

In [9]:
len(all_student_ids)

36654

In [10]:
list(demographic_attendance.columns)

['ReportingYear',
 'SchoolYear',
 'External_Student_ID',
 'school_code',
 'grade',
 'ethnic',
 'sex',
 'swd',
 'eds',
 'lep',
 'daysabs',
 'exc_abs',
 'unexc_abs',
 'times_tardy',
 'FirstEntryDate',
 'LastExitDate',
 'FirstEntry_ReportingYear',
 'LastExit_ReportingYear',
 'FirstEntry_Grade',
 'LastEntry_Grade',
 'TransFered_Before_EOY',
 'Grade_repeats',
 'RepeatedGrades',
 'RepeatedYears',
 'TransOut_Before_Grade12_Year',
 'g8year',
 'graduate',
 'grad_year',
 'Expected_GradYear',
 'Grad_4yr']

In [11]:
data = pd.DataFrame(data={'External_Student_ID': all_student_ids})

In [12]:
data.head()

   External_Student_ID
0                 1000
1                 1001
2                 1002
3                 1003
4                 1004

In [13]:
list(demographic_attendance.columns)

['ReportingYear',
 'SchoolYear',
 'External_Student_ID',
 'school_code',
 'grade',
 'ethnic',
 'sex',
 'swd',
 'eds',
 'lep',
 'daysabs',
 'exc_abs',
 'unexc_abs',
 'times_tardy',
 'FirstEntryDate',
 'LastExitDate',
 'FirstEntry_ReportingYear',
 'LastExit_ReportingYear',
 'FirstEntry_Grade',
 'LastEntry_Grade',
 'TransFered_Before_EOY',
 'Grade_repeats',
 'RepeatedGrades',
 'RepeatedYears',
 'TransOut_Before_Grade12_Year',
 'g8year',
 'graduate',
 'grad_year',
 'Expected_GradYear',
 'Grad_4yr']

In [22]:
# these are all the variables that are static across years, so I can just merge them onto the data now
# Duplicates need to be dropped because these are static fields, so they shouldn't have changed over time
df = demographic_attendance[['FirstEntryDate',
                         'External_Student_ID',
                         'LastExitDate',
                         'FirstEntry_ReportingYear',
                         'LastExit_ReportingYear',
                         'FirstEntry_Grade',
                         'LastEntry_Grade',
                         'Grade_repeats',
                         'RepeatedGrades',
                         'RepeatedYears',
                         'TransOut_Before_Grade12_Year',
                         'g8year',
                         'graduate',
                         'grad_year',
                         'Expected_GradYear',
                         'Grad_4yr']].drop_duplicates()

In [23]:
df.shape

(34162, 16)

In [24]:
data = data.merge(df, on='External_Student_ID', how='left')

In [25]:
# Makes sense, as there are 36654 total students in Cabarrus as of the 3-18-2015 data
data.shape

(36654, 16)

In [27]:
data[data.duplicated(subset=['External_Student_ID'])]

Empty DataFrame
Columns: [External_Student_ID, FirstEntryDate, LastExitDate, FirstEntry_ReportingYear, LastExit_ReportingYear, FirstEntry_Grade, LastEntry_Grade, Grade_repeats, RepeatedGrades, RepeatedYears, TransOut_Before_Grade12_Year, g8year, graduate, grad_year, Expected_GradYear, Grad_4yr]
Index: []

In [27]:
def merge_data_by_years(to_merge, data, reporting_year, how='left'):
    """
    Generalized version of merging each particular df
    """
    groups = to_merge.groupby(reporting_year).groups
    for group, rows in groups.iteritems():
        temp = to_merge.ix[rows].drop([reporting_year], axis=1)
        temp.rename(columns={col: col + '_' + str(group) for col in temp.columns},
                    inplace=True) # appends school year to each col
        data = data.merge(temp, left_on='External_Student_ID', 
                          right_on = 'External_Student_ID_' + str(group), 
                          how=how)
        data.drop('External_Student_ID_' + str(group), axis=1, inplace=True)
    return data

In [28]:
data.shape

(35435, 17)

In [187]:
# ~ 3,000 students are double or triple entered during the same year for 
# demographic attendance and the address history data
# Options: (1) take the last one (we could be missing data from earlier)
# (2) take the sum on the integer columns (but we may be inflating on 
# certain variables e.g., times_tardy and exc_abs seem to be totals
# and not recorded per semester. It's not clear how reporting practices
# work.)
# I'm going to go with (1) for now because I don't think it's worth the time
# and I've been told that you these should be entered during the end of the 
# year

In [35]:
deduped_add_hist = address_history.drop_duplicates(['External_Student_ID', 'ReportingYear'],
                                                   take_last=True)

In [36]:
include_cols = ['ReportingYear',
 'External_Student_ID',
 'Street',
 'CITY',
 'STATE',
 'ZIP',]

In [37]:
merged = merge_data_by_years(deduped_add_hist[include_cols], data, 'ReportingYear')

In [38]:
print merged.shape

(35435, 45)

In [39]:
deduplicated_demog_attend = demographic_attendance.drop_duplicates(['External_Student_ID', 'ReportingYear'],
                                       take_last=True)

In [40]:
include_cols = ['ReportingYear',
 'External_Student_ID',
 'school_code',
 'grade',
 'ethnic',
 'sex',
 'swd',
 'eds',
 'lep',
 'daysabs',
 'exc_abs',
 'unexc_abs',
 'times_tardy',]

In [41]:
merged = merge_data_by_years(deduplicated_demog_attend[include_cols], merged, 'ReportingYear')

In [42]:
print merged.shape

(35435, 122)

In [43]:
merged = merge_data_by_years(yearly_gpa, merged, 'ReportingYear')

In [44]:
print merged.shape

(35435, 234)

In [45]:
merged.head()

,External_Student_ID,FirstEntryDate,LastExitDate,FirstEntry_ReportingYear,LastExit_ReportingYear,FirstEntry_Grade,LastEntry_Grade,Transferred_Before_EOY,Grade_repeats,RepeatedGrades,...,GPA_2014,GPA_ENG_2014,GPA_Math_2014,GPA_Science_2014,GPA_SocSci_2014,NumAdvanced_2014,NumAdvanced_ENG_2014,NumAdvanced_Math_2014,NumAdvanced_Science_2014,NumAdvanced_SocSci_2014
0,1000,8/27/2007,6/10/2008,2008,2008,7,7,N,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,8/27/2007,6/10/2008,2008,2008,7,7,N,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1002,4/27/2009,2/28/2013,2009,2013,6,9,Y,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,8/28/2007,1/28/2011,2008,2011,9,12,Y,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1004,8/27/2007,3/20/2012,2008,2012,6,9,Y,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
merged.shape

(35435, 234)

In [47]:
list(merged.columns)

['External_Student_ID',
 'FirstEntryDate',
 'LastExitDate',
 'FirstEntry_ReportingYear',
 'LastExit_ReportingYear',
 'FirstEntry_Grade',
 'LastEntry_Grade',
 'Transferred_Before_EOY',
 'Grade_repeats',
 'RepeatedGrades',
 'RepeatedYears',
 'TransOut_Before_Grade12_Year',
 'g8year',
 'graduate',
 'grad_year',
 'Expected_GradYear',
 'Grad_4yr',
 'Street_2008',
 'CITY_2008',
 'STATE_2008',
 'ZIP_2008',
 'Street_2009',
 'CITY_2009',
 'STATE_2009',
 'ZIP_2009',
 'Street_2010',
 'CITY_2010',
 'STATE_2010',
 'ZIP_2010',
 'Street_2011',
 'CITY_2011',
 'STATE_2011',
 'ZIP_2011',
 'Street_2012',
 'CITY_2012',
 'STATE_2012',
 'ZIP_2012',
 'Street_2013',
 'CITY_2013',
 'STATE_2013',
 'ZIP_2013',
 'Street_2014',
 'CITY_2014',
 'STATE_2014',
 'ZIP_2014',
 'school_code_2008',
 'grade_2008',
 'ethnic_2008',
 'sex_2008',
 'swd_2008',
 'eds_2008',
 'lep_2008',
 'daysabs_2008',
 'exc_abs_2008',
 'unexc_abs_2008',
 'times_tardy_2008',
 'school_code_2009',
 'grade_2009',
 'ethnic_2009',
 'sex_2009',
 'swd_2009',
 'eds_2009',
 'lep_2009',
 'daysabs_2009',
 'exc_abs_2009',
 'unexc_abs_2009',
 'times_tardy_2009',
 'school_code_2010',
 'grade_2010',
 'ethnic_2010',
 'sex_2010',
 'swd_2010',
 'eds_2010',
 'lep_2010',
 'daysabs_2010',
 'exc_abs_2010',
 'unexc_abs_2010',
 'times_tardy_2010',
 'school_code_2011',
 'grade_2011',
 'ethnic_2011',
 'sex_2011',
 'swd_2011',
 'eds_2011',
 'lep_2011',
 'daysabs_2011',
 'exc_abs_2011',
 'unexc_abs_2011',
 'times_tardy_2011',
 'school_code_2012',
 'grade_2012',
 'ethnic_2012',
 'sex_2012',
 'swd_2012',
 'eds_2012',
 'lep_2012',
 'daysabs_2012',
 'exc_abs_2012',
 'unexc_abs_2012',
 'times_tardy_2012',
 'school_code_2013',
 'grade_2013',
 'ethnic_2013',
 'sex_2013',
 'swd_2013',
 'eds_2013',
 'lep_2013',
 'daysabs_2013',
 'exc_abs_2013',
 'unexc_abs_2013',
 'times_tardy_2013',
 'school_code_2014',
 'grade_2014',
 'ethnic_2014',
 'sex_2014',
 'swd_2014',
 'eds_2014',
 'lep_2014',
 'daysabs_2014',
 'exc_abs_2014',
 'unexc_abs_2014',
 'times_tardy_2014',
 'SchoolYear_2008',
 'Num_Marks_2008',
 'Num_ENG_2008',
 'Num_Math_2008',
 'Num_Science_2008',
 'Num_SocSci_2008',
 'GPA_2008',
 'GPA_ENG_2008',
 'GPA_Math_2008',
 'GPA_Science_2008',
 'GPA_SocSci_2008',
 'NumAdvanced_2008',
 'NumAdvanced_ENG_2008',
 'NumAdvanced_Math_2008',
 'NumAdvanced_Science_2008',
 'NumAdvanced_SocSci_2008',
 'SchoolYear_2009',
 'Num_Marks_2009',
 'Num_ENG_2009',
 'Num_Math_2009',
 'Num_Science_2009',
 'Num_SocSci_2009',
 'GPA_2009',
 'GPA_ENG_2009',
 'GPA_Math_2009',
 'GPA_Science_2009',
 'GPA_SocSci_2009',
 'NumAdvanced_2009',
 'NumAdvanced_ENG_2009',
 'NumAdvanced_Math_2009',
 'NumAdvanced_Science_2009',
 'NumAdvanced_SocSci_2009',
 'SchoolYear_2010',
 'Num_Marks_2010',
 'Num_ENG_2010',
 'Num_Math_2010',
 'Num_Science_2010',
 'Num_SocSci_2010',
 'GPA_2010',
 'GPA_ENG_2010',
 'GPA_Math_2010',
 'GPA_Science_2010',
 'GPA_SocSci_2010',
 'NumAdvanced_2010',
 'NumAdvanced_ENG_2010',
 'NumAdvanced_Math_2010',
 'NumAdvanced_Science_2010',
 'NumAdvanced_SocSci_2010',
 'SchoolYear_2011',
 'Num_Marks_2011',
 'Num_ENG_2011',
 'Num_Math_2011',
 'Num_Science_2011',
 'Num_SocSci_2011',
 'GPA_2011',
 'GPA_ENG_2011',
 'GPA_Math_2011',
 'GPA_Science_2011',
 'GPA_SocSci_2011',
 'NumAdvanced_2011',
 'NumAdvanced_ENG_2011',
 'NumAdvanced_Math_2011',
 'NumAdvanced_Science_2011',
 'NumAdvanced_SocSci_2011',
 'SchoolYear_2012',
 'Num_Marks_2012',
 'Num_ENG_2012',
 'Num_Math_2012',
 'Num_Science_2012',
 'Num_SocSci_2012',
 'GPA_2012',
 'GPA_ENG_2012',
 'GPA_Math_2012',
 'GPA_Science_2012',
 'GPA_SocSci_2012',
 'NumAdvanced_2012',
 'NumAdvanced_ENG_2012',
 'NumAdvanced_Math_2012',
 'NumAdvanced_Science_2012',
 'NumAdvanced_SocSci_2012',
 'SchoolYear_2013',
 'Num_Marks_2013',
 'Num_ENG_2013',
 'Num_Math_2013',
 'Num_Science_2013',
 'Num_SocSci_2013',
 'GPA_2013',
 'GPA_ENG_2013',
 'GPA_Math_2013',
 'GPA_Science_2013',
 'GPA_SocSci_2013',
 'NumAdvanced_2013',
 'NumAdvanced_ENG_2013',
 'NumAdvanced_Math_2013',
 'NumAdvanced_Science_2013',
 'NumAdvanced_SocSci_2013',
 'SchoolYear_2014',
 'Num_Marks_2014',
 'Num_ENG_2014',
 'Num_Math_2014',
 'Num_Science_2014',
 'Num_SocSci_2014',
 'GPA_2014',
 'GPA_ENG_2014',
 'GPA_Math_2014',
 'GPA_Science_2014',
 'GPA_SocSci_2014',
 'NumAdvanced_2014',
 'NumAdvanced_ENG_2014',
 'NumAdvanced_Math_2014',
 'NumAdvanced_Science_2014',
 'NumAdvanced_SocSci_2014']

In [ ]:
merged.to_csv(path_or_buf='master_2-9-2015.csv', index=False)