In [4]:
import pandas as pd

In [23]:
datapath = '/Users/liyan/Dropbox (Personal)/Updated Data 6-13 graders plus High Priority/'

In [24]:
import os
os.listdir(datapath)

['Additional U Chicago Data 2015 0201.docx',
 'cleaned data',
 'Dropout Reason Code Descriptions.docx',
 'Dropout_Data_0708_1314.txt',
 'GPA Files description.docx',
 'List of schools.xlsx',
 'Student Address File Definition.docx',
 'Student Demographic  Attendance  File Notes.docx',
 'Student_Address_History 6-13 thru 1314.txt',
 'Student_Demographic_Attendance plus specials 6-13 thru 1314.txt',
 'Student_GPA_Detail 6-13 Thru 1314 Update.txt',
 'Student_GPA_Detail 6-13 Thru 1314.txt',
 'Student_GPA_YearlySummary 6-13 Thru 1314 update.txt',
 'Student_GPA_YearlySummary 6-13 Thru 1314.txt',
 'Student_Suspension_Data 6-13 thru 1314.txt']

In [8]:
# Examining the dropout data

In [26]:
dropout_data = pd.read_table(datapath + 'cleaned_data/' + 'dropouts.txt')

In [27]:
dropout_data.shape

(2095, 10)

In [28]:
dropout_data.head()

,School,SchoolName,External_Student_ID,DO_year,Grade,Age,Gender,Ethnicity,Wcode,Reason
0,307,Cox Mill High School,2725,2009/10,9,17,M,WHTE,W2,ATTD
1,307,Cox Mill High School,11910,2009/10,9,17,M,WHTE,W2,MOVE
2,307,Cox Mill High School,12045,2009/10,9,16,M,WHTE,W2,ATTD
3,307,Cox Mill High School,12655,2009/10,11,18,M,WHTE,W2,ATTD
4,307,Cox Mill High School,12911,2009/10,9,17,M,BLCK,W2,LTSU

In [29]:
# I should probably exclude students who are marked as 'Move' from 
# actually being a dropout
# There's 219 of students who are marked as being such.
dropout_data['Reason'].value_counts()

ATTD    1020
COMM     322
MOVE     219
LTSU     134
ACAD     126
UNKN      78
WORK      46
DISC      24
RNAW      22
PREG      20
INCR      17
HEAL      15
HOME      13
EMPL      12
ENGA      11
CHLD       6
MARR       2
ABUS       2
PSEM       1
EXPL       1
dtype: int64

In [30]:
# It looks like dropouts are decreasing over the years
# Though there's a sharp 30% drop from the 2011-2012 to 2013-2014 
# school year
dropout_data['DO_year'].value_counts()

2007/08    402
2006/07    401
2008/09    360
2009/10    218
2010/11    200
2012/13    196
2011/12    193
2013/14    125
dtype: int64

In [31]:
# Examining Student Address History
filename = 'Student_Address_History 6-13 thru 1314.txt'

In [32]:
add_hist = pd.read_table(datapath + filename)

In [33]:
add_hist.head()

,ReportingYear,External_Student_ID,Street,CITY,STATE,ZIP,Grade
0,2008,1000,167 Eastover Dr SE,Concord,NC,28025,7
1,2008,1001,167 Eastover Dr SE,Concord,NC,28025,7
2,2008,1003,4314 Concord Pointe LN,Concord,NC,28027,9
3,2008,1004,948 Tartan Ln Nw,Concord,NC,28027,6
4,2008,1005,3180 Patrick Henry Drive APT# J,Concord,NC,28027,9

In [34]:
# There's 6th and 7th grade data!
add_hist['Grade'].value_counts()

9     18637
7     16820
8     16787
6     16732
10    16315
11    14091
12    12998
13        6
99        2
dtype: int64

In [35]:
# Hooray! 2014 is here
add_hist['ReportingYear'].value_counts()

2014    18799
2013    16657
2012    16164
2011    15731
2010    15233
2009    14959
2008    14845
dtype: int64

In [40]:
# Examining demographic & attendance
filename = 'demographic_attendance.txt'

In [41]:
demog_attend = pd.read_csv(datapath + 'cleaned_data/' + filename, delimiter='\t')

In [42]:
demog_attend.shape

(111276, 30)

In [43]:
demog_attend['ReportingYear'].value_counts()

2014    17457
2013    17010
2012    16503
2011    15984
2010    15498
2009    15206
2008    13618
dtype: int64

In [45]:
demog_attend['TransOut_Before_Grade12_Year'].value_counts()

N    60068
Y    51188
dtype: int64

In [46]:
demog_attend['grad_year'].value_counts()

2014    12727
2013    10516
2012     8824
2011     7158
2010     4750
2009     3116
2008       19
dtype: int64

In [47]:
list(demog_attend.columns)

['ReportingYear',
 'SchoolYear',
 'External_Student_ID',
 'school_code',
 'grade',
 'ethnic',
 'sex',
 'swd',
 'eds',
 'lep',
 'daysabs',
 'exc_abs',
 'unexc_abs',
 'times_tardy',
 'FirstEntryDate',
 'LastExitDate',
 'FirstEntry_ReportingYear',
 'LastExit_ReportingYear',
 'FirstEntry_Grade',
 'LastEntry_Grade',
 'TransFered_Before_EOY',
 'Grade_repeats',
 'RepeatedGrades',
 'RepeatedYears',
 'TransOut_Before_Grade12_Year',
 'g8year',
 'graduate',
 'grad_year',
 'Expected_GradYear',
 'Grad_4yr']

In [48]:
# Recreating the results on Cabarrus' website regarding # of graduating

In [49]:
# There are 49 students who transferred out before grade 12, yet 
# are marked as graduated
# There are 76 students who graduated, have a grad year of 2013
# but were not recorded as being in 8th grade in 2009
grad_year = 2013
g8_year = grad_year-4
numerator = demog_attend[(demog_attend['graduate'] == 'Y')
                         #& (demog_attend['Expected_GradYear'] == grad_year)
                         #& (demog_attend['g8year'] == g8_year)
                         & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')
                         ]['External_Student_ID'].unique().size

In [50]:
demog_attend['Grad_4yr'].isnull().sum()

53922

In [51]:
x = demog_attend[demog_attend['graduate'].isnull()
             & (demog_attend['Grad_4yr'].isnull())
             & (demog_attend['Expected_GradYear'].isnull())
             & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')
             & (demog_attend['RepeatedGrades'].isnull())]

In [52]:
x['External_Student_ID'].unique().size

3354

In [53]:
x['Expected_GradYear'].value_counts()

Series([], dtype: int64)

In [54]:
strange_ids = set(x['External_Student_ID'])

In [55]:
a = add_hist[add_hist['External_Student_ID'].isin(strange_ids)].set_index(['ReportingYear', 'Grade'])

In [56]:
a.ix[2013, 12]

//anaconda/lib/python2.7/site-packages/pandas/core/index.py:4159: PerformanceWarning: indexing past lexsort depth may impact performance.
  PerformanceWarning)

                     External_Student_ID                Street       CITY  \
ReportingYear Grade
2013          12                    6856  104 South Hampton Dr    Concord
              12                   54532       9844 Legolas Ln  Charlotte
              12                   55369     1263 Creekside Dr    Concord

                    STATE    ZIP
ReportingYear Grade
2013          12       NC  28027
              12       NC  28269
              12       NC  28027

In [57]:
numerator

10628

In [58]:
# Graduate and grad_year can be null, yet we have ~3500 students for whom
# grad_4yr is not null. Why is that?
demog_attend[demog_attend['grad_year'].isnull()
            & demog_attend['Grad_4yr'].notnull()]['Grad_4yr'].value_counts()#['External_Student_ID'].unique().size

N    10244
dtype: int64

In [59]:
present_in_9th = set(demog_attend[(demog_attend['ReportingYear'] == g8_year+1)
                             & (demog_attend['grade'] == 9)
                             & (demog_attend['Expected_GradYear'] == grad_year)
                             & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')]['External_Student_ID']
                             )

In [60]:
len(present_in_9th)

1740

In [61]:
present_in_9th_year_before = set(demog_attend[(demog_attend['ReportingYear'] == g8_year+2)
                             & (demog_attend['grade'] == 9)
                             & (demog_attend['Expected_GradYear'] == grad_year)
                             & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')]['External_Student_ID'])

In [62]:
present_in_9th_first_time = present_in_9th - present_in_9th_year_before

In [63]:
transfer_2011 = set(demog_attend[(demog_attend['FirstEntry_ReportingYear'] == g8_year+2)
                             & (demog_attend['grade'] == 10)
                             & (demog_attend['Expected_GradYear'] == grad_year)
                             & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')
                             ]['External_Student_ID'])

In [64]:
transfer_2012 = set(demog_attend[(demog_attend['FirstEntry_ReportingYear'] == g8_year+3)
                    & (demog_attend['grade'] == 11)
                    & (demog_attend['Expected_GradYear'] == grad_year)
                    & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')
                    ]['External_Student_ID'])

In [65]:
transfer_2013 = set(demog_attend[(demog_attend['FirstEntry_ReportingYear'] == g8_year+4)
                    & (demog_attend['grade'] == 12)
                    & (demog_attend['Expected_GradYear'] == grad_year)
                    & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')
                    ]['External_Student_ID'])

In [66]:
print len(present_in_9th_first_time)
print len(transfer_2011)
print len(transfer_2012)
print len(transfer_2013)
denom = present_in_9th.union(transfer_2011).union(transfer_2012).union(transfer_2013)

1708
59
71
55

In [67]:
numerator

10628

In [68]:
print(len(denom))

1925

In [69]:
# This is different from the website, which records Cabarrus having a 86.5%
# graduation rate in 2012-2013
# http://www.cabarrus.k12.nc.us/site/Default.aspx?PageType=3&DomainID=4&PageID=1&ViewID=047e6be3-6d87-4130-8424-d8e4e9ed6c2a&FlexDataID=4744
float(numerator)/len(denom)

5.521038961038961

In [70]:
demog_attend[demog_attend['graduate'].isnull()]['TransOut_Before_Grade12_Year'].value_counts()

Y    49874
N    14272
dtype: int64

In [71]:
# Other questions to ask Brian

In [72]:
strange = demog_attend[demog_attend['graduate'].isnull()
             & (demog_attend['TransOut_Before_Grade12_Year'] == 'N')
             & (demog_attend['Expected_GradYear'] <= 2014)
             ]

In [73]:
# Most of the individuals for whom graduation is not known transferred out before 
# grade 12. But ~4000 did not, yet are still not known
# Grad_4yr is more reliable than graduate. It will be null if 
# the student has not graduated yet (e.g, they grad in 2015)
strange[strange['RepeatedGrades'] > 0]['External_Student_ID'].unique().size

134

In [74]:
strange['grad_year'].value_counts()

Series([], dtype: int64)

In [75]:
strange['Grad_4yr'].isnull().sum()#.value_counts()

0

In [76]:
strange['Expected_GradYear'].value_counts()

2014    728
2013    490
2012    321
2011    315
2010    238
2009    185
2008     15
2007      7
2005      2
dtype: int64

In [77]:
strange['Grad_4yr'].value_counts()

N    2301
dtype: int64

In [78]:
strange['RepeatedGrades'].value_counts()

9                 176
12                144
11                127
10                123
11, 11             48
9, 11              21
9, 9               15
12, 12             11
12, 12, 12, 12     11
10, 12             11
8                  10
8, 10               8
11, 12              8
10, 10              8
11, 11, 11          8
9, 10               7
8, 11               7
9, 12               7
10, 11, 11          7
11, 12, 12          6
10, 11              5
12, 12, 12          4
dtype: int64

In [79]:
demog_attend['graduate'].isnull().sum()

64166

In [80]:
demog_attend[demog_attend['grad_year'] == 2012]['External_Student_ID'].unique().size

1909

In [81]:
list(demog_attend.columns)

['ReportingYear',
 'SchoolYear',
 'External_Student_ID',
 'school_code',
 'grade',
 'ethnic',
 'sex',
 'swd',
 'eds',
 'lep',
 'daysabs',
 'exc_abs',
 'unexc_abs',
 'times_tardy',
 'FirstEntryDate',
 'LastExitDate',
 'FirstEntry_ReportingYear',
 'LastExit_ReportingYear',
 'FirstEntry_Grade',
 'LastEntry_Grade',
 'TransFered_Before_EOY',
 'Grade_repeats',
 'RepeatedGrades',
 'RepeatedYears',
 'TransOut_Before_Grade12_Year',
 'g8year',
 'graduate',
 'grad_year',
 'Expected_GradYear',
 'Grad_4yr']

In [82]:
# There's 6th and 7th grade data!
demog_attend['grade'].value_counts()

9     17983
7     16692
8     16617
6     16609
10    16139
11    13968
12    13262
13        6
dtype: int64

In [83]:
demog_attend['Expected_GradYear'].value_counts()

2014    15129
2013    13226
2012    10631
2011     8557
2010     5769
2009     3638
2008      208
2015      162
2007       28
2017        2
2006        2
2005        2
dtype: int64

In [84]:
demog_attend['grad_year'].value_counts()

2014    12727
2013    10516
2012     8824
2011     7158
2010     4750
2009     3116
2008       19
dtype: int64

In [85]:
demog_attend['graduate'].value_counts()

Y    47110
dtype: int64

In [92]:
# Looking at Yearly GPA
filename = 'gpa_yearly.txt'

In [93]:
yearly_gpa = pd.read_table(datapath + 'cleaned_data/' + filename)

In [94]:
yearly_gpa.shape

(101477, 18)

In [95]:
yearly_gpa.head()

,External_Student_ID,ReportingYear,SchoolYear,Num_Marks,Num_ENG,Num_Math,Num_Science,Num_SocSci,GPA,GPA_ENG,GPA_Math,GPA_Science,GPA_SocSci,NumAdvanced,NumAdvanced_ENG,NumAdvanced_Math,NumAdvanced_Science,NumAdvanced_SocSci
0,7464,2009,2008-2009,9,1,1,1,2,80.11,79.0,87,75,74.00,1,0,0,0,1
1,10177,2008,2007-2008,8,2,1,1,1,67.63,82.0,70,0,72.00,1,1,0,0,0
2,13347,2009,2008-2009,7,1,1,1,1,95.57,92.0,96,91,94.00,0,0,0,0,0
3,13420,2014,2013-2014,11,2,1,1,3,84.39,74.5,82,82,86.43,0,0,0,0,0
4,16060,2008,2007-2008,9,2,1,2,1,89.11,80.0,93,94,82.00,1,1,0,0,0

In [96]:
yearly_gpa['ReportingYear'].value_counts()

2013    15645
2014    15550
2012    15148
2011    14687
2010    14186
2009    13862
2008    12399
dtype: int64

In [98]:
# We're missing a lot of data from the 2013-2014 school year
## NOTE: Not anymore! Brian updated on 3/18/2015
yearly_gpa['SchoolYear'].value_counts()

2012-2013    15645
2013-2014    15550
2011-2012    15148
2010-2011    14687
2009-2010    14186
2008-2009    13862
2007-2008    12399
dtype: int64

In [99]:
## Looking at detailed GPA
filename = 'gpa_detailed.txt'
detailed_gpa = pd.read_table(datapath + 'cleaned_data/' + filename)

In [100]:
detailed_gpa.shape

(755291, 15)

In [101]:
detailed_gpa.head()

,External_Student_ID,Grade,ReportingYear,School Number,Course Code,Course Title,Section Number,StartDate,EndDate,ReportingPeriod,Mark,Value,FinalMark,Subject,AdvancedCourse
0,1000,7,2008,130313,0990CY70,7TH GRADE HEALTH/PE,4,2007-08-25,2008-06-11,Year Final,97,97,Y,NaN,0
1,1000,7,2008,130313,1010CY72,Language Arts,1,2007-08-25,2008-06-11,Year Final,92,92,Y,English,0
2,1000,7,2008,130313,2001CY72,Math (K-8),4,2007-08-25,2008-06-11,Year Final,98,98,Y,Mathematics,0
3,1000,7,2008,130313,3001CY72,Science (K-8),2,2007-08-25,2008-06-11,Year Final,92,92,Y,Science,0
4,1000,7,2008,130313,4001CY72,Social Studies (K-8),3,2007-08-25,2008-06-11,Year Final,97,97,Y,Social Science,0

In [104]:
detailed_gpa['ReportingYear'].value_counts()

2013    115913
2014    114684
2012    113249
2011    112881
2010    108605
2009    104395
2008     85564
dtype: int64

In [102]:
detailed_gpa['EndDate'].value_counts()

2013-06-08    77518
2012-06-09    74652
2011-06-10    73597
2010-06-11    70881
2009-06-11    68576
2008-06-11    54992
2014-06-10    41608
2011-01-26    38289
2010-01-20    37283
2012-01-20    36924
2015-01-20    33677
2014-01-21    32961
2013-01-23    31471
2009-01-22    29846
2008-01-23    26729
2009-01-21     5973
2013-01-18     4929
2008-06-10     3718
2014-10-27     1182
2013-05-24     1100
2013-12-18     1045
2015-01-05     1024
2012-12-18      895
2014-05-23      883
2012-05-22      868
2011-12-20      805
2015-06-10      594
2011-05-26      535
2010-12-21      423
2013-10-21      395
2014-03-30      362
2014-04-27      295
2013-10-07      253
2010-05-27      221
2009-12-22      220
2014-03-05      218
2007-11-28       84
2013-11-21       78
2014-10-06       59
2014-06-03       48
2008-03-06       41
2011-01-19       37
2014-12-01        2
dtype: int64

In [34]:
## looking at suspension data

In [35]:
suspension = pd.read_table(datapath + 'Student_Suspension_Data 6-13 thru 1314.txt')

In [36]:
suspension.shape

(234562, 10)

In [37]:
suspension.head()

,Home School,External_Student_ID,Gender,Ethnicity,Grade,Action Type Desc,Length of Suspension,Incident Date,EC Indicator,LEP Indicator
0,130310,1324,M,Black,10,ISS In-school Suspension,1,12/3/2007,N,N
1,130310,10540,M,Hispanic,9,OSS 10 days or less (Out-of-School Susp),1,5/19/2008,N,N
2,130310,11384,M,White,9,OSS 10 days or less (Out-of-School Susp),1,1/31/2008,N,N
3,130310,5280,M,Black,9,OSS 10 days or less (Out-of-School Susp),1,11/15/2007,N,N
4,130310,11775,F,Hispanic,9,ISS In-school Suspension,1,12/17/2007,N,N

In [38]:
suspension['Incident Date'].iloc[1][-4:]

'2008'

In [39]:
suspension['Incident Date'].apply(lambda s: s[-4:] if pd.notnull(s) else s).value_counts()

2008    49367
2009    47817
2010    44267
2011    39961
2012    23197
2007    18897
2013     7947
2014     2921
2004       10
2000        4
2001        3
2003        1
1998        1
dtype: int64